window1.png
StuFF/README.rtfd/RSYNC-GUI.png
StuFF/README.rtfd/TXT.rtf
StuFF/RSYNC-GUI converted.dmg
StuFF/RSYNC-GUI.psd
RSYNC-GUI.xcodeproj/project.xcworkspace/xcuserdata/terramoda.xcuserdatad/UserInterfaceState.xcuserstate
venv/bin/activate
/venv
build/rsync-gui/Analysis-00.toc
/build
/dist
/StuFF
